.horizontal-scroll-wrapper {
   width: 376px;
   height: 1100px;
   overflow-y: auto;
   overflow-x: hidden;
   transform: rotate(90deg);
   transform-origin: right top;
   transform: rotate(-90deg) translateY(-200px);
   background-color: rgb(168, 168, 168);
   scrollbar-width: none;  
}

.horizontal-scroll-wrapper::-webkit-scrollbar {
   display: none;
}

.horizontal-scroll-wrapper>.card {
   transform: rotate(90deg);
   width: 345px;
   height: 345px;
   margin: 10px;
}