.SlideShow{
    margin-top: 50px;
}
.Topic{
    margin-top: 20px;
    background-color: chocolate;
    /* display: flex; */
}

.ReviewTag{
    margin-top: 20px;
}
.CardStatus{
    background-color: green;
    /* margin-top: 20px; */
}
.LocationImage{
    width: 30px;
    margin-left: 10px;
}
.StarRating{
    margin-left: 10px;
}